{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    },
    {
      "files": "test/**/*.ts",
      "options": {
        "printWidth": 80
      }
    }
  ],
  "printWidth": 120,
  "singleQuote": false,
  "bracketSpacing": true,
  "explicitTypes": "always",
  "trailingComma": "none",
  "arrowParens": "avoid"
}